<a href="https://colab.research.google.com/github/JavZon/python_homeworks/blob/main/takrorlash_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Person:
  def __init__(self, ism, familiya, tyil, address):
    self.name=ism
    self.surname=familiya
    self.born_year=tyil
    self.address=address
  def get_info(self):
    info=f"{self.name} {self.surname}. Born year - {self.born_year}. Address - {self.address}."
    return info
  def get_age(self, current_year):
    return current_year-self.born_year

In [ ]:
obj=Person('Alijon','Toyboboyev',1974,'Samarqand shahri, 345.Str')

In [ ]:
obj.get_info()

'Alijon Toyboboyev. Born year - 1974. Address - Samarqand shahri, 345.Str.'

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        return f"My name is {self.name}, and I am {self.age} years old."

class Student(Person):
    def study(self):
        return f"{self.name} is studying diligently."

# Creating instances of Person and Student
person1 = Person("Alice", 30)
student1 = Student("Bob", 20)
# Using the methods of the Person class
print(person1.introduce())
# Using the methods of the Student class
print(student1.introduce())  # Calls the introduce method from the Person class
print(student1.study())

My name is Alice, and I am 30 years old.
My name is Bob, and I am 20 years old.
Bob is studying diligently.

In [ ]:
class Student:
    def __init__(self, name, age):
        self.__name = name  # Private attribute
        self._age = age    # Protected attribute

    # Public methods to access and modify private and protected attributes
    def get_name(self):
        return self.__name

    def set_name(self, new_name):
        if len(new_name) > 0:
            self.__name = new_name

    def get_age(self):
        return self._age

    def set_age(self, new_age):
        if new_age >= 0:
            self._age = new_age

# Creating an instance of the Student class
student1 = Student("Alice", 20)
# Accessing attributes through methods
print(f"Student Name: {student1.get_name()}")
print(f"Student Age: {student1.get_age()}")
# Modifying attributes through methods
student1.set_name("Bob")
student1.set_age(22)
# Accessing modified attributes
print(f"Updated Student Name: {student1.get_name()}")
print(f"Updated Student Age: {student1.get_age()}")

Student Name: Alice
Student Age: 20
Updated Student Name: Bob
Updated Student Age: 22

In [ ]:
student1._age

22

In [ ]:
class Auto:
  def __init__(self, producer, model, year, price, km):
    self.producer=producer
    self.model=model
    self.year=year
    self.price=price
    self.__km=km

  def get_km(self):
    return self.__km
  def __repr__(self):
    return f"Avto : {self.producer} {self.model}"

  def __lt__(self, other_obj):
    return self.price < other_obj.price

  def __eq__(self, obj):
    return self.price == obj.price

  def __call__(self):
    return f"{self.model} {self.producer}. Year - {self.year}. Price - {self.price}"

In [ ]:
avto1=Auto('Toyota','Carolla', 2023, 45000, 350)
avto2=Auto('GM','Lachetti', 2021, 15000, 780)

In [ ]:
avto1!=avto2

True

In [ ]:
avto1.get_km()

350

In [ ]:
isinstance('25',str)

True

In [ ]:
avto1

Avto : Toyota Carolla

In [ ]:
avto1()

'Carolla Toyota. Year - 2023. Price - 45000'